:root{
  --satellite_map_width: 70%;
  --satellite_map_height: 92vh; 
}
.page{
  width:100%;
  height:100%;
  padding: 0;
  margin: 0;
}
#map-container {
  margin: 0;
  padding: 0;
  left:var(--sidebar_width);
  top:var(--header_height);
  width: var(--satellite_map_width);
  height:var(--satellite_map_height);
}
#recenter-button {
  position:absolute;
  left:calc(var(--sidebar_width) + calc(var(--satellite_map_width) / 2));
  top:calc(var(--header_height) + 1px);
}
#satellitemapview_dashboard{
  position: absolute;
  left:calc(var(--sidebar_width) + var(--satellite_map_width));
  top:var(--header_height);
  height:var(--satellite_map_height);
  width: calc(100% - calc(var(--sidebar_width) + var(--satellite_map_width)));
  display:flex;
  flex-direction: column;
  background-color: #e6f6ff;
}
.satellitemapview_dashboard_tabs{
  display:flex;
  flex-direction: row;
}
.satellitemapview_dashboard_tabs button{
  background-color: transparent;
  border-width: 1px;
  border-bottom: 0;
}
.satellitemapview_dashboard_item{
  width:100%;
  height:100px;
  background-color:white;
  display: flex;
  flex-direction: column;
}
.satellitemapview_dashboard_item_contents{
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.satellitemapview_dashboard_item_contents_middle{
  display: flex;
  flex-direction: column;
  margin: 0;
}