:root{
  --sidebar_width: 220px;
}
.sidebar{
  margin: 0;
  width:var(--sidebar_width);
  background-color: #91b2c4;
  height:100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}
.sidebar.close {
  width: 0;
}
.sidebar_items{
  padding-top: 20px;
  padding-left: 40px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color:white;
  margin:10px;
}
.sidebar_items a{
  color:inherit;
  text-decoration: none;
  margin:10px;
}
#menu_text{
  display: inline;
  position:relative;
  top: 20px;
  padding-left: 40px;
}
#menu_button{
  width:30px;
  height:30px;
  position:absolute;
  padding-top: 10px;
  padding-left: 10px;
  filter:grayscale(100%);
}